#container {
  margin: auto;
  width: 70%;
}

.footer_container {
  margin: auto;
  width: 70%;
}

body {
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #E12433;
  height: 120px;
}

header img {
  width: 128px;
  height: 81px;
  margin-top: 20px;
  margin-left: 20px;
}

nav {
  font-family: "Tenor Sans", sans-serif;
  padding-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  color: #ffffff;
  padding-top: 25px;
}

nav ul li {
  padding: 10px;
  padding-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 9px 0;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 3px;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}

nav ul li a:hover::before, nav ul li a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.line {
  border-bottom: 2px solid #E12433;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  margin-bottom: 20px;
}

.line h1 {
  margin-bottom: 0px;
}

.line input {
  outline: none;
  border: solid 2px #86868A;
  border-radius: 5px;
  margin: 10px;
  caret-color: #E12433;
  padding-left: 6px;
}

.line ::placeholder {
  opacity: 0.4;
}

.new_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new_movies .bumblebee {
  margin-left: 4px;
}

.new_movies h2 {
  width: 200px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding-left: 4px;
}

.new_movies h3 {
  width: 200px;
  font-family: helvetica, arial;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 3px;
  padding-left: 4px;
  color: #86868A;
}

.new_movies img:hover {
  transform: scale(1.02);
}

.all_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all_movies .queen {
  margin-left: 4px;
}

.all_movies .grinch {
  margin-left: 4px;
}

.all_movies h2 {
  width: 200px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding-left: 4px;
}

.all_movies h3 {
  width: 200px;
  font-family: helvetica, arial;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 4px;
  padding-left: 4px;
  color: #86868A;
}

.all_movies img:hover {
  transform: scale(1.02);
}

footer {
  background-color: #E12433;
  padding: 20px;
}

footer .footer_block ul {
  list-style: none;
  padding: 0px;
}

footer .footer_block ul a {
  text-decoration: none;
  font-family: helvetica, arial;
  font-weight: lighter;
}

footer .title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

footer span {
  font-family: helvetica, arial;
  font-weight: 400;
}

footer .footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer_container .title {
  margin-bottom: 15px;
}

footer .footer_container ul {
  list-style: none;
}

footer .footer_container ul li {
  text-align: left;
}

footer .footer_container ul li a {
  text-decoration: none;
  font-family: helvetica, arial;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.7;
  position: relative;
}

footer .footer_container ul li a:hover, footer .footer_container ul li a:focus, footer .footer_container ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

footer .footer_container ul li a::before {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}

footer .footer_container ul li a:hover::before, footer .footer_container ul li a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
