#container {
  margin: auto;
  width: 70%;
}

.footer_container {
  margin: auto;
  width: 70%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #E12433;
  height: 120px;
}

header img {
  align-self: center;
  padding: 2px;
}

header img:hover {
  background-color: #E12433;
}

nav {
  font-family: "Tenor Sans", sans-serif;
  padding-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  color: #ffffff;
  padding-top: 25px;
}

nav ul li {
  padding: 10px;
  padding-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 9px 0;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 3px;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}

nav ul li a:hover::before, nav ul li a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

h1 {
  border-bottom: 2px solid #E12433;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
}

.new_movies {
  display: flex;
  justify-content: space-between;
}

.new_movies h2 {
  width: 200px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding-left: 4px;
}

.new_movies h3 {
  width: 200px;
  font-family: helvetica, arial;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 3px;
  padding-left: 4px;
  color: #86868A;
}

.new_movies img:hover {
  transform: scale(1.02);
}

.all_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all_movies h2 {
  width: 200px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0px;
  padding-left: 4px;
}

.all_movies h3 {
  width: 200px;
  font-family: helvetica, arial;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 3px;
  padding-left: 4px;
  color: #86868A;
}

.all_movies img:hover {
  transform: scale(1.02);
}

.movies ul {
  list-style: none;
  padding: 0px;
}

.movies ul a {
  text-decoration: none;
  font-family: helvetica, arial;
  font-weight: lighter;
}

.cinemas ul {
  list-style: none;
  padding: 0px;
}

.cinemas ul a {
  text-decoration: none;
  font-family: helvetica, arial;
  font-weight: lighter;
}

.title {
  font-family: "Tenor Sans", sans-serif;
}
