$navfont:'Tenor Sans', sans-serif;
$white: #ffffff;
$red: #E12433;
$grey: #86868A;

#container {
  margin: auto;
  width: 70%;
}

.footer_container {
  margin: auto;
  width: 70%;
}

body {
  background-color: $white;
}

// HEADER ---------------------------------------------------------

header {
  display: flex;
  justify-content: space-between;
  background-color: $red;
  height: 120px;

    img {
      width: 128px;
      height: 81px;
      margin-top: 20px;
      margin-left: 20px;
    } // end of img
} // end of header


// NAVIGATION ---------------------------------------------------------

nav {
  font-family: $navfont;
  padding-right: 20px;

  ul {
    display: flex;
    list-style: none;
    color: $white;
    padding-top: 25px;

    li {
      padding: 10px;
      padding-left: 30px;

      a {
        text-decoration: none;
        color: $white;
        position: relative;
        padding: 9px 0;
        transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;

        &:hover, &:focus, &:active {
            color: $white;
            text-decoration: none;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 3px;
            height: 1px;
            width: 100%;
            background-color: #fff;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: color 0.1s,transform 0.2s ease-out;
        }

        &:hover::before, &:focus::before {
            transform-origin: left top;
            transform: scale(1, 1);
        }

      } // end of a
    } // end of li
  } // end of ul
} // end of nav

// NEW MOVIES ---------------------------------------------------------

.line {
  border-bottom: 2px solid $red;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-family: $navfont;
  margin-bottom: 20px;

  h1 {
    margin-bottom: 0px;
  } // end of h1

  input {
    outline: none;
    border: solid 2px $grey;
    border-radius: 5px;
    margin: 10px;
    caret-color: $red;
    padding-left: 6px;
  } // end of input

  ::placeholder {
    opacity: 0.4;
  }

} // end of line

.new_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .bumblebee {margin-left: 4px;}

  h2 {width: 200px; font-family: $navfont; font-size: 1em; margin-bottom: 0px; padding-left: 4px;}
  h3 {width: 200px; font-family: helvetica, arial; font-weight: lighter; font-size: 1em; margin-top: 3px; padding-left: 4px; color: $grey;}
  img:hover {transform: scale(1.02);}

} // end of .new_movies

// ALL MOVIES ---------------------------------------------------------

.all_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .queen {margin-left: 4px;}
  .grinch {margin-left: 4px;}

  h2 {width: 200px; font-family: $navfont; font-size: 1em; margin-bottom: 0px; padding-left: 4px;}
  h3 {width: 200px; font-family: helvetica, arial; font-weight: lighter; font-size: 1em; margin-top: 4px; padding-left: 4px; color: $grey;}
  img:hover {transform: scale(1.02);}

} // end of .all_movies

// FOOTER ---------------------------------------------------------

footer {
  background-color: $red;
  padding: 20px;

.footer_block {
  ul {
    list-style: none;
    padding: 0px;
    a {
      text-decoration: none;
      font-family: helvetica, arial;
      font-weight: lighter;
    } //end of a
  } //end of ul
} //end of .movies

.title {
  font-family: $navfont;
  font-size: 15px;
  color: $white;
}

span {
  font-family: helvetica, arial;
  font-weight: 400;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    margin-bottom: 15px;
  }

  ul {
    list-style: none;

    li {
      text-align: left;

      a {
        text-decoration: none;
        font-family: helvetica, arial;
        font-size: 12px;
        color: $white;
        line-height: 1.7;
        position: relative;

        &:hover, &:focus, &:active {
            color: $white;
            text-decoration: none;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            height: 1px;
            width: 100%;
            background-color: #fff;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: color 0.1s,transform 0.2s ease-out;
        }

        &:hover::before, &:focus::before {
            transform-origin: left top;
            transform: scale(1, 1);
        }

      } // end of a
    } // end of li
  } // end of ul
} // end of .footer_container
} // end of footer
