$navfont:'Tenor Sans', sans-serif;
$white: #ffffff;
$red: #E12433;

// HEADER ---------------------------------------------------------

header {
  display: flex;
  justify-content: space-between;
  background-color: $red;
  height: 120px;

  img {
    align-self: center;
    padding-left: 100px;
  }
}

// NAVIGATION ---------------------------------------------------------

nav {
  font-family: $navfont;
  padding-right: 100px;

  ul {
    display: flex;
    list-style: none;
    color: $white;
    padding-top: 25px;
  }

  li {
    padding: 10px;
  }

  li::after {
    content: "|";
    margin-left: 20px;
  }

  li:nth-child(1)::before {
    content: "|";
    margin-right: 20px;
  }


  a {
    text-decoration: none;
    color: $white;
  }
}
